.header{
    box-shadow: 4px 4px 4px rgb(26, 11, 11);
    display: flex;
    color: #f1f1f1;
    width: 100%;
    height: 200px;
    background-color: rgb(81, 81, 230);
}

.main{
    box-shadow: 4px 4px 4px rgb(26, 11, 11);
    display: flex;
    width: 90%;
    height: 400px;
    background-color: rgb(80, 155, 80);
    margin-top: 5px;
}

.container{
    box-shadow: 4px 4px 4px rgb(26, 11, 11);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
}

.sidebar{
    box-shadow: 4px 4px 4px rgb(26, 11, 11);
    display: flex;
    width: 9.8%;
    background-color: orangered;
    margin-top: 5px;
}

.footer{
    box-shadow: 4px 4px 4px rgb(26, 11, 11);
    display: flex;
    width: 100%;
    height: 100px;
    background-color: blue;
    margin-top: 10px;
}

.color{
    color: white;
}

.radio{
    border-radius:10px;
}

.text{
    margin: 2%;
}

.text2{
    margin: 12%;
}

ul{
    text-shadow: 2px 2px 4px #000000;
    display: flex;
    width: 45%;
    justify-content: space-between;
}

ul li{
    display: inline-block;
}

.btn{
    display: flex;
    text-decoration: none;
    color: white;
    padding: 30px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: violet;
    box-shadow: #000;
    box-shadow: 4px 4px 4px rgb(26, 11, 11);

}

.btn:hover{
    text-decoration: none;
    color: white;
    padding: 28px;
    border-radius: 5px;
    background-color: yellowgreen;
    box-shadow: #000;
}

.btn:active{
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background-color: black;
    box-shadow: #000;
}

h2 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
