body{
  margin: 2px;
}

.estilo {
  display: flex;
  float: left;
  color: white;
  margin: 8px;
  border-radius: 10px;
  /*Etiquetas de sombreado*/
  border-bottom: 4px solid rgb(0, 0, 0);
  box-shadow: 4px 4px 4px rgb(26, 11, 11);
  text-shadow: 10px 10px 12px rgb(0, 0, 0);
  /*Etiqueta de fuente*/
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

ul {
  text-shadow: 10px 10px 12px rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

ul li {
  display: inline-block;
}

.prueba {
  margin: 20px;
}

.btn {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 40px;
  background-color: rgb(28, 153, 38);
  border-bottom: 4px solid rgb(0, 0, 0);
  box-shadow: 4px 4px 4px rgb(26, 11, 11);
  box-shadow: #000;
}

.btn:hover {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 40px;
  background-color: rgb(177, 151, 6);
  border-bottom: 4px solid rgb(0, 0, 0);
  box-shadow: 4px 4px 4px rgb(26, 11, 11);
  box-shadow: #000;
  filter: blur(2px);
}

.btn:active {
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 38px;
  background-color: rgb(182, 11, 11);
  border-bottom: 4px solid rgb(0, 0, 0);
  box-shadow: 4px 4px 4px rgb(26, 11, 11);
  box-shadow: #000;
}

.text {
  margin: 2%;
}

.text1 {
  margin: 1%;
}

.text2 {
  margin: 4%;
}

.header {
  background-color: rgb(69, 69, 238);
  height: 100px;
  width: 92.90%;
}

.main {
  background-color: rgb(9, 179, 23);
  height: 500px;
}

.sidebar {
  background-color: red;
  height: 500px;
}

.footer {
  background-color: blue;
  height: 100px;
  width: 92.90%;
}

@media only screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col.m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.331%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.331%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}
